@import "tailwindcss";

* {
  font-family: Outfit;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001F;
}

@layer utilities {
  .grid-cols-auto {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.hover\:black-shadow:hover {
  box-shadow: 4px 4px 0 #000;
}
.dark .hover\:black-shadow:hover {
  box-shadow: 4px 4px 0 #fff;
}

